# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Galilee Bible Camp
email: ''
description: >- # this means to ignore newlines until "baseurl:"
  Galilee Bible Camp is a Christian Bible camp in Lake Bronson State Park near Lake Bronson, Minnesota.
  We host summer camps for teens (finished 7th–12th grade), pre-teens (4th–6th grades), and a Family Bible Camp,
  with Bible teaching, worship, recreation, and fellowship in a beautiful outdoor setting.
baseurl: '' # the subpath of your site, e.g. /blog
url: 'https://galileebiblecampmn.org' # the base hostname & protocol for your site, e.g. http://example.com
lang: en-US
logo: /assets/images/1002884_015.JPG
image: /assets/images/1002884_015.JPG

twitter:
  card: summary_large_image

# Build settings
markdown: kramdown
# theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

collections:
  events:
    output: true
    permalink: /:collection/:name

defaults:
  - scope:
      path: ''
      type: pages
    values:
      image: /assets/images/1002884_015.JPG
  - scope:
      path: ''
      type: events
    values:
      layout: page
      image: /assets/images/1002884_015.JPG
