---
layout: default
---

<div class="uk-light" uk-slideshow="ratio: 7:3">
  <ul class="uk-slideshow-items">
    <li>
      <img src="/assets/images/carl-heyerdahl-56022-unsplash.jpg" alt="" uk-cover>
      <div class="uk-position-center uk-position-small">
        <h1 class="uk-heading-primary">Welcome to Galilee Bible Camp</h1>
      </div>
    </li>
  </ul>
</div>

<div class="uk-section uk-section-default">
  <div class="uk-container uk-container-small">
    <div class="uk-text-center">
      <h1>About Galilee Bible Camp</h1>
      <img src="assets/images/1002884_015.JPG" alt="Galilee Bible Camp">
      <p>{{ site.description }}</p>
    </div>
  </div>
</div>

<div class="uk-section uk-section-primary">
  <div class="uk-container uk-container-small">
    <div class="uk-text-center">
      <h1>Volunteers</h1>
      <p>There is always need for volunteer work at the camp. Building maintenance is always an ongoing effort. Upgrades to buildings and yard is a never ending process. If you would like to work at the camp and don't know what the current needs are please contact Curtis Thompson at 218-874-7945 to get the work activities list.</p>
    </div>
  </div>
</div>

<div class="uk-section uk-section-default">
  <div class="uk-container uk-container-small">
    <h1>Upcoming Events</h1>
      <table class="uk-table uk-table-divider">
        <thead>
          <tr>
            <th>Event</th>
            <th>Dates</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          {% assign sorted = site.events | sort: 'start-date' %}
          {% for item in sorted %}
            <tr>
              <td>{{ item.title }}</td>
              <td>{{ item.start-date | date: "%B %d" }} - {{ item.end-date | date: "%d, %Y"}}</td>
              <td><a class="uk-link" href="{{ item.url |relevant_url }}">Learn More</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
